@model IEnumerable<Product_Ratings_MVC.Models.Rating>

@{
    ViewData["Title"] = "Index";
}


<header class="masthead">
    <div class="container" style="height:50vh">
        <div class="intro-text">
            <div class="intro-lead-in">  All Ratings</div>


        </div>
    </div>
</header>

<p>
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatingValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
